extends layouts/default.pug 
include mixins/section-3.pug
include mixins/product-item.pug
block title 
 title Trang chu 

block main 
    // Section 1 
    div(class="section-1")
        div(class="container")
            div(class="section-1__wrap")
                img(class="section-1__image-4" src="assets/Images/inner-bg-4.svg" alt="")
                div(class="section-1__content")
                    img(class="section-1__image-1" src="assets/Images/inner-bg-1.svg" alt="")
                    h1(class="section-1__title") Thêm Một Bạn
                    h2(class="section-1__sub-title") Thêm Ngàn Niềm Vui!
                    p(class="section-1__desc") Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                    div(class="section-1__buttons")
                        a(href="#" class="button button--outline") Giới thiệu
                            i(class="fa-regular fa-circle-play")
                        a(href="#" class="button") Khám phá ngay
                    img(class="section-1__image-2" src="assets/Images/inner-bg-2.svg" alt="")
                div(class="section-1__image")
                    img(class="section-1__image-main" src="assets/Images/Image1.png" alt="")
                    img(class="section-1__image-3" src="assets/Images/inner-bg-3.svg" alt="")
    // End Section 1 

    //Section 2 
    div(class="section-2")
        div(class="container")
            div(class="box-head")
                div(class="box-head__left")
                    div(class="box-head__sub-title") Có gì mới?
                    div(class="box-head__title") một số vật nuôi của chúng tôi
                div(class="box-head__right")
                    a(href="#" class="button button--outline") Giới thiệu
                        i(class="fa-solid fa-angle-right")
            div(class="section-2__wrap")
                +product-item("assets/Images/product-1.jpg", 
                "MO231-Pomeranian Trắng", 
                "Đực", 
                "02 tháng", 
                "6.900.000 VND")
                +product-item("assets/Images/product-1.jpg", 
                "MO231-Pomeranian Trắng", 
                "Đực", 
                "02 tháng", 
                "6.900.000 VND")
                +product-item("assets/Images/product-1.jpg", 
                "MO231-Pomeranian Trắng", 
                "Đực", 
                "02 tháng", 
                "6.900.000 VND")
                +product-item("assets/Images/product-1.jpg", 
                "MO231-Pomeranian Trắng", 
                "Đực", 
                "02 tháng", 
                "6.900.000 VND")
                +product-item("assets/Images/product-1.jpg", 
                "MO231-Pomeranian Trắng", 
                "Đực", 
                "02 tháng", 
                "6.900.000 VND")
                +product-item("assets/Images/product-1.jpg", 
                "MO231-Pomeranian Trắng", 
                "Đực", 
                "02 tháng", 
                "6.900.000 VND")
                +product-item("assets/Images/product-1.jpg", 
                "MO231-Pomeranian Trắng", 
                "Đực", 
                "02 tháng", 
                "6.900.000 VND")
                +product-item("assets/Images/product-1.jpg", 
                "MO231-Pomeranian Trắng", 
                "Đực", 
                "02 tháng", 
                "6.900.000 VND")
    // End Section 2

    //Section-3        
    +section-3()
    //End Section-3

    //Section 4
    div(class="section-4")
        div(class="container")
            div(class="box-head")
                div(class="box-head__left")
                    div(class="box-head__sub-title") Có gì mới?
                    h2(class="box-head__title") một số vật nuôi của chúng tôi
                div(class="box-head__right")
                    a(href="#" class="button button--outline") Giới thiệu
                        i(class="fa-solid fa-angle-right")
            div(class="section-4__wrap")
                div(class="section-4__item")
                    div(class="section-4__image")
                        a(href="#")
                            img(src="assets/Images/section-4-image.jpg" alt="")
                    div(class="section-4__content")
                        div(class="section-4__tag") Kiến thức thú cưng
                        h3(class="section-4__title")
                            a(href="") Pomeranian là gì? Cách nhận biết chó Pomeranian
                        div(class="section-4__desc") Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.
                div(class="section-4__item")
                    div(class="section-4__image")
                        a(href="#")
                            img(src="assets/Images/section-4-image.jpg" alt="")
                    div(class="section-4__content")
                        div(class="section-4__tag") Kiến thức thú cưng
                        h3(class="section-4__title")
                            a(href="") Pomeranian là gì? Cách nhận biết chó Pomeranian
                        div(class="section-4__desc") Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.
                div(class="section-4__item")
                    div(class="section-4__image")
                        a(href="#")
                            img(src="assets/Images/section-4-image.jpg" alt="")
                    div(class="section-4__content")
                        div(class="section-4__tag") Kiến thức thú cưng
                        h3(class="section-4__title")
                            a(href="") Pomeranian là gì? Cách nhận biết chó Pomeranian
                        div(class="section-4__desc") Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.
            div(class="section-4__button-bottom")
                a(href="#" class="button button--outline") Giới thiệu 
                    i(class="fa-solid fa-angle-right")
    //End Section 4