extends layouts/default.pug
include mixins/product-item.pug

block title
 title Trang chi tiết các sản phẩm

block main 
  
  //-   Product Info
  .product-info 
    .container
      .product-info__wrap
        .product-info__left
           .product-info__images-main
             div(class="swiper mySwiper2" id="sliderImageMain")
               div(class="swiper-wrapper")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
               div(class="swiper-button-next")   
               div(class="swiper-button-prev")   
           .product-info__images-thumb
             div(class="swiper mySwiper")
               div(class="swiper-wrapper")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
                 div(class="swiper-slide")
                  img(src="assets/Images/product-1.jpg")
        .product-info__right
          //-Breadcrumb
          div(class="breadcrumb")
            div(class="breadcrumb__wrap")
              a(href="#" class="breadcrumb__link") Trang chủ
              a(href="#" class="breadcrumb__link") Chó
              a(href="#" class="breadcrumb__link") Chó con
              a(href="#" class="breadcrumb__link") Shiba Inu Màu Nâu Đỏ
          //-End Breadcrumb
          h1.product-info__title Shiba Inu Màu Đỏ
          .product-info__price 12.000.000 VND
          .product-info__buttons 
            a(href="#" class="button") Liên hệ
            a(href="#" class="button button--outline")
              i(class="fa-regular fa-comment-dots button__icon--left") 
              | Chat với Monitor
          .product-info__table 
            table 
              tbody 
                tr 
                  td SKU
                  td #1000078   
                tr 
                  td Giống 
                  td Cái   
                tr 
                  td Tuổi
                  td 2 tháng   
                tr 
                  td Kích thước
                  td Nhỏ   
                tr 
                  td Màu sắc 
                  td Nâu đỏ   
                tr 
                  td Mô tả ngắn
                  td Giống thuần chủng Shih Tzu. Cấu trúc cơ thể tốt. Với chứng chỉ MKA và Microchip. Cha từ dòng dõi vô địch.
          .box-share 
            .box-share__label  
              i(class="fa-solid fa-share-nodes")
              | Chia sẻ      
            ul.box-share__list    
              li.box-share__item 
                a(href="#" class="box-share__link" target="_blank") 
                  i(class="fa-brands fa-facebook")  
              li.box-share__item 
                a(href="#" class="box-share__link" target="_blank")
                  i(class="fa-brands fa-twitter")   
              li.box-share__item 
                a(href="#" class="box-share__link" target="_blank") 
                  i(class="fa-brands fa-instagram")   
              li.box-share__item 
                a(href="#" class="box-share__link" target="_blank") 
                  i(class="fa-brands fa-youtube")
  //-   End Product Info

  //- Khách hàng của chúng tôi
  //- Hết Khách hàng của chúng tôi

  //- Xem them chó con
  div(class="section-2")
    div(class="container")
        div(class="box-head")
            div(class="box-head__left" 
                data-aos="fade-right"
                )
                div(class="box-head__sub-title") Có gì mới?
                div(class="box-head__title") Xem thêm chó con
        div(class="section-2__wrap" 
        data-aos="fade-up"
        data-aos-duration="1800"
        )
            +product-item("assets/Images/product-1.jpg", 
            "MO231-Pomeranian Trắng", 
            "Đực", 
            "02 tháng", 
            "6.900.000 VND")
            +product-item("assets/Images/product-1.jpg", 
            "MO231-Pomeranian Trắng", 
            "Đực", 
            "02 tháng", 
            "6.900.000 VND")
            +product-item("assets/Images/product-1.jpg", 
            "MO231-Pomeranian Trắng", 
            "Đực", 
            "02 tháng", 
            "6.900.000 VND")
            +product-item("assets/Images/product-1.jpg", 
            "MO231-Pomeranian Trắng", 
            "Đực", 
            "02 tháng", 
            "6.900.000 VND")
    // End Section 2
  //- Hết Xem them chó con